body {
    margin: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('file:///C:/Users/marga/Desktop/Unterricht/galgen123.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; /* Bild zentrieren */
    background-color: rgb(3, 3, 3); /* Hintergrundfarbe als Fallback */
}

h1 {
    color: rgb(255, 255, 255);
    margin-top: 50px;
    text-align: center;
}

.card {
    background-color: rgb(255, 255, 255);
    border: 2px solid #121010;
    border-radius: 10px;
    box-shadow: inset black;
    padding: 5px;
    width: 500px;   /* Feste Breite */
    height: 400px;  /* Feste Höhe */
    box-sizing: border-box;  /* Padding und Border sind in der Höhe und Breite enthalten */
    margin-bottom: 20px;
    display: block;
    /* overflow: hidden;  Verhindert das Vergrößern der Box */
}

.comment {
    color: white;
}


.hidd,
.versuch,
.rate {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.hang {
    display: flex;
    justify-content: center;
    
}

input[type="text"] {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 30%;
    margin-bottom: 20px;
}

.buchstaberaten {
    background-color: rgb(56, 54, 54);
    color: white;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 20;
}

.neues {
    background-color: rgb(238, 121, 121);
    color: black;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 20px;
}

#hangman {
    font-family: monospace; /* Monospace für gleiche Breite der Zeichen */
    /* font-size: 16px;         Anpassbare Schriftgröße */
    white-space: pre;        
    width: 200px;            /* Feste Breite */
    height: 150px;           /* Feste Höhe */
    display: flex;          
    margin: 10px auto;     
}
